#MyTreeView {
}

rubberband, flowbox rubberband, treeview.view rubberband, .content-view rubberband, .rubberband {
  border: 1px solid #a3a3a3;
  background-color: rgba(163,163,163,0.2);
}

textview.view text {
  font-family: monospace;
  color: blue;
}

textview.view {
  border-style: dotted;
  border-width: 5px;
  border-color: blue;
  border-radius: 10px;
}

viewport {
  border-width: 4px;
  border-radius: 10px;
}

button
{
    border-radius: 10px;
}

grid {
  border-width: 4px;
  border-color: pink;
}


#txtObjName {
  font-size: 16pt;
  font-weight: bold;
}

